{{ _fastkind_configure_dns_current_resolv_conf_contents }}
nameserver {{ _fastkind_configure_dns_dnsmasq_ip }}
search default.svc.{{ fastkind_setup_cluster_name | replace('-', '.') }} svc.{{ fastkind_setup_cluster_name | replace('-', '.') }} {{ fastkind_setup_cluster_name | replace('-', '.') }}
