kubeProxyReplacement: strict
k8sServiceHost: {{ _serve_my_kind_cni_apiserver_host_name }}
k8sServicePort: {{ _serve_my_kind_cni_apiserver_host_port }}
externalIPs:
  enabled: true
ipam:
  mode: "kubernetes"
hostServices:
  enabled: true
externalIPs:
  enabled: true
nodePort:
  enabled: true
hostPort:
  enabled: true
operator:
  resources:
    limits:
      cpu: "{{ _serve_my_kind_cni_operator_cpu_limit }}"
      memory: "{{ _serve_my_kind_cni_operator_memory_limit }}"
    requests:
      cpu: "{{ _serve_my_kind_cni_operator_cpu_request }}"
      memory: "{{ _serve_my_kind_cni_operator_memory_request }}"
  rollOutPods: true
rollOutCiliumPods: true

hubble:
  enabled: {{ serve_my_kind_cni_hubble_enabled }}
  relay:
    enabled: {{ serve_my_kind_cni_hubble_relay_enabled }}
  metrics:
    enabled: {{ serve_my_kind_cni_hubble_metrics_enabled }}
