defaultBackend:
  enabled: true
fullnameOverride: "{{ serve_my_kind_cluster_name }}-ingress"
controller:
  service:
    externalTrafficPolicy: Local
    type: LoadBalancer
ingressClassResource:
  name: "{{ serve_my_kind_default_ingress_class }}"
  default: true
  aliases:
    - "default-ingress-class"
