approveSignerNames:
    - issuers.cert-manager.io/*
    - clusterissuers.cert-manager.io/*
    - stepclusterissuers.certmanager.step.sm/*
    - stepissuers.certmanager.step.sm/*
networkPolicy:
  enabled: true
