apiVersion: "cert-manager.io/v1"
kind: "ClusterIssuer"
metadata:
  name: "{{ _serve_my_kind_certification_self_signed_issuer_name }}"
  namespace: "{{ serve_my_kind_certification_namespace }}"
spec:
  selfSigned: {}
---
apiVersion: "certmanager.step.sm/v1beta1"
kind: "StepClusterIssuer"
metadata:
  name: "{{ serve_my_kind_ca_issuer_name }}-step"
  namespace: "{{ serve_my_kind_certification_namespace }}"
spec:
  url: "https://{{ serve_my_kind_certification_private_ca_service_fqdn }}"
  caBundle: "{{ serve_my_kind_certification_private_ca_root }}"
  provisioner:
    name: "{{ serve_my_kind_certification_private_ca_provisioner_name }}"
    kid: "{{ serve_my_kind_certification_private_ca_provisioner_kid }}"
    passwordRef:
      namespace: "{{ serve_my_kind_certification_namespace }}"
      name: "{{ serve_my_kind_certification_private_ca_provisioner_password_secret }}"
      key: "password"
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: "{{ _serve_my_kind_certification_domain_ca_name }}"
  namespace: "{{ serve_my_kind_certification_namespace }}"
spec:
  secretName: "{{ _serve_my_kind_certification_domain_ca_name }}-secret"
  commonName: "{{ serve_my_kind_cluster_domain }}"
  dnsNames:
    - "{{ serve_my_kind_cluster_domain }}"
  duration: "{{ _serve_my_kind_certification_certificate_hours_validity }}h"
  renewBefore: "{{ _serve_my_kind_certification_certificate_hours_validity / _serve_my_kind_certification_certificate_renewal_threshold | int }}h"
  isCA: false
  issuerRef:
    name: "{{ serve_my_kind_ca_issuer_name }}-step"
    kind: StepClusterIssuer
    group: certmanager.step.sm
---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: "{{ serve_my_kind_ca_issuer_name }}"
  namespace: "{{ serve_my_kind_certification_namespace }}"
spec:
  ca:
    secretName: "{{ _serve_my_kind_certification_domain_ca_name }}-secret"
