apiVersion: "cert-manager.io/v1"
kind: "ClusterIssuer"
metadata:
  name: "{{ serve_my_kind_setup_cluster_staging_issuer_name }}"
  namespace: "{{ serve_my_kind_system_namespace }}"
spec:
  acme:
    email: "{{ serve_my_kind_setup_cluster_certmanager_issuer_email }}"
    server: "https://acme-staging-v02.api.letsencrypt.org/directory"
    privateKeySecretRef:
      name: "{{ serve_my_kind_cluster_name }}-issuer-account-key"
    solvers:
      - http01:
          ingress:
            ingressClassName: "{{ serve_my_kind_ingress_type }}"
---
apiVersion: "cert-manager.io/v1"
kind: "ClusterIssuer"
metadata:
  name: "{{ serve_my_kind_setup_cluster_production_issuer_name }}"
  namespace: "{{ serve_my_kind_system_namespace }}"
spec:
  acme:
    email: "{{ serve_my_kind_setup_cluster_certmanager_issuer_email }}"
    server: "https://acme-v02.api.letsencrypt.org/directory"
    privateKeySecretRef:
      name: "{{ serve_my_kind_cluster_name }}-issuer-account-key"
    solvers:
      - http01:
          ingress:
            ingressClassName: "{{ serve_my_kind_ingress_type }}"
---
apiVersion: "cert-manager.io/v1"
kind: "ClusterIssuer"
metadata:
  name: "{{ serve_my_kind_setup_cluster_self_signed_issuer_name }}"
  namespace: "{{ serve_my_kind_system_namespace }}"
spec:
  selfSigned: {}
