apiVersion: "cert-manager.io/v1"
kind: "ClusterIssuer"
metadata:
  name: "{{ serve_my_kind_ingress_staging_issuer_name }}"
  namespace: "{{ serve_my_kind_networking_namespace }}"
spec:
  acme:
    email: "{{ serve_my_kind_certmanager_issuer_email }}"
    server: "https://acme-staging-v02.api.letsencrypt.org/directory"
    privateKeySecretRef:
      name: "{{ serve_my_kind_ingress_staging_issuer_name }}-issuer-account-key"
    solvers:
      - http01:
          ingress:
            ingressClassName: "{{ serve_my_kind_ingress_type }}"
---
apiVersion: "cert-manager.io/v1"
kind: "ClusterIssuer"
metadata:
  name: "{{ serve_my_kind_ingress_production_issuer_name }}"
  namespace: "{{ serve_my_kind_networking_namespace }}"
spec:
  acme:
    email: "{{ serve_my_kind_certmanager_issuer_email }}"
    server: "https://acme-v02.api.letsencrypt.org/directory"
    privateKeySecretRef:
      name: "{{ serve_my_kind_ingress_production_issuer_name }}-issuer-account-key"
    solvers:
      - http01:
          ingress:
            ingressClassName: "{{ serve_my_kind_ingress_type }}"
---
apiVersion: "cert-manager.io/v1"
kind: "ClusterIssuer"
metadata:
  name: "{{ serve_my_kind_ingress_self_signed_issuer_name }}"
  namespace: "{{ serve_my_kind_networking_namespace }}"
spec:
    ca:
      secretName: "{{ _serve_my_kind_bridge_self_signed_ca_secret_name }}"
---
apiVersion: "v1"
kind: "ConfigMap"
metadata:
  name: "{{ serve_my_kind_ingress_issuers_names_configmap_name }}"
  namespace: "{{ serve_my_kind_networking_namespace }}"
data:
  staging: "{{ serve_my_kind_ingress_staging_issuer_name }}"
  production: "{{ serve_my_kind_ingress_production_issuer_name }}"
  selfSigned: "{{ serve_my_kind_ingress_self_signed_issuer_name }}"
